<li id="task-<%= task.id %>">
  <span class="user"><%= link_to task.user.name, task.user %>:</span>
  <span class="title"><%= task.title %></span>
  <span class="information"><%= task.information %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.
    <% if current_user?(task.user) %>
      <%= link_to "Edit", edit_task_path(task.id), :method => :get %>
      <%= link_to "Delete", task, :method => :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
