<li id="task-<%= task.id %>">
  <%= link_to task.user %>
  <span class="user"><%= link_to task.user.name, task.user %></span>
  <span class="title"><%= task.title %></span>
  <span class="information"><%= task.information %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.
  </span>
</li>
